<div class="dashboard-page">
    <div clas="dashboard-header">
        <p>
            <mat-toolbar color="primary">
              <span>Dashboard</span>
            </mat-toolbar>
        </p>
    </div>
    <div class="map-block">
        <div class="map-select">
            <mat-form-field appearance="fill">
                <mat-label>Route</mat-label>
                <mat-select [id]="'routeSelect'" (selectionChange)="onRouteSelect($event)">
                  <mat-option *ngFor="let route of routeList" [value]="route">
                    {{route}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="map">
          <agm-map [latitude]="focusLatitude" [longitude]="focusLongitude">
            <agm-marker *ngFor="let routeCord of routeCordList" [latitude]="routeCord.latitude" [longitude]="routeCord.longitude"></agm-marker>
          </agm-map>
        </div>
    </div>
</div>


